@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: #fcfdfe !important;
  width: 100%;
  height: 3.7rem;
  display: flex;
  justify-content: center;
}

.sidemenu {
  top: 0.5rem;
}

.btn {
  position: absolute;
  right: 4rem;
}
