@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: #fcfdfe !important;
  width: 100%;
  height: 3.7rem;
  display: flex;
  justify-content: center;
}

.sidemenu {
  top: 0.5rem;
}

.btn {
  position: absolute;
  right: 4rem;
}

body {
  font-family: Work Sans;
}

.scrollable-element {
  overflow-y: scroll;
}

.scrollable-element::-webkit-scrollbar {
  width: 8px;
}

.scrollable-element::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-element::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #555;
}
